{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </h2>
  {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
  <!-- <strong>{{ .PublishDate.Format $dateFormat }}</strong> -->
  
  
  <small>{{ .PublishDate.Format $dateFormat }} &middot;
    {{ with .Params.tags }}
    <strong>Tags: </strong>
    {{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ end }}
  </small><br/>
  {{ if ne .Params.show_summary false }}
    <span class="summary-text">{{ .Summary }}</span>
  {{ end }}
{{ end }}
{{ end }}
